%# -*- mode:html -*-

<div class="avatar-form-wrapper" style="margin:auto;width:960px;">
  <h1>Avatar</h1>
  <form class="avatar-form" method="POST" action="/action/change_avatar" enctype="multipart/form-data">
    <div class="input-group">
      <label>Upload a image smaller than 1MB</label><br>
      <input type="file" name="avatar" size="400">
    </div>
    <input type="submit" value="Upload">
  </form>
</div>
