%# -*- mode:html -*-
% my($referer, $error) = @_;
% use HTML::Entities;

<div class="register-form-wrapper" style="margin:auto;width:480px;">
  <h1>Welcome</h1>
  % if ( defined $error ) {
  <span style="color:red;">
    Error: <%== $error %>
  </span>
  % }
  <form class="register-form" method="POST" action="/register">
    <div class="input-group">
      <label>User name</label>
      <input type="text" name="username">
    </div>
    <div class="input-group">
      <label>Password</label>
      <input type="password" name="password">
    </div>
    <div class="input-group">
      <label>E-Mail address</label>
      <input type="email" name="email">
    </div>
    <input type="hidden" value="<%= ($referer ? encode_entities($referer) : '') %>" name="referer">
    <input type="submit" value="Register">
  </form>
</div>
